COMPOSE_PROJECT_NAME=superset

# Generate secret key using this command: openssl rand -base64 42
SECRET_KEY=VExbJKdM4NtS1zDS39zyrMz7Y6e5pcYYd1efHHqQbaybyR0Oa/kMmf6N
BABEL_DEFAULT_LOCALE=pt_BR
PUBLIC_ROLE_LIKE=Gamma

# database configurations
DATABASE_DB=superset
DATABASE_HOST=db
DATABASE_PASSWORD=superset
DATABASE_USER=superset

# database engine specific environment variables
# change the below if you prefers another database engine
DATABASE_PORT=5432
DATABASE_DIALECT=postgresql
POSTGRES_DB=superset
POSTGRES_USER=superset
POSTGRES_PASSWORD=superset
#MYSQL_DATABASE=superset
#MYSQL_USER=superset
#MYSQL_PASSWORD=superset
#MYSQL_RANDOM_ROOT_PASSWORD=yes

# Add the mapped in /app/pythonpath_docker which allows devs to override stuff
PYTHONPATH=/app/pythonpath:/app/docker/pythonpath_dev
REDIS_HOST=redis
REDIS_PORT=6379

# FLASK_ENV=development
# SUPERSET_ENV=development
# FLASK_ENV=production
# SUPERSET_ENV=production
SUPERSET_LOAD_EXAMPLES=yes
CYPRESS_CONFIG=false
SUPERSET_PORT=8088
HOST_PORT=8088

# keycloak
OIDC_OPENID_REALM=superset
